*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family : 'circular-std', sans-serif;
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4{
    font-family: inherit;
    font-size: 40px;
    line-height: 50px;
}

a{
    text-decoration: none !important;
}
a:hover{
   text-decoration: none !important;
}
img{
    height: auto;
    max-width: 100%;
}
#DownloadApp, #Services, #Cities{
    margin-bottom: 100px;
    margin-top: 100px;         
}

 /*Navigation*/
 
.navbar{
   background-color:  #52A1FF;
   font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    
}

.navbar a{
    color: #FFFFFF;
    text-align : center;
    font-family : 'circular-std', sans-serif;
}
.navbar-collapse{
    text-align: center;
}
.navbar-brand b{
    color: #101357;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    line-height: 19px;
    font-family: 'circular-std', sans-serif;
    vertical-align: inherit;
}
.nav-link{
    margin-right: 30px;    
}
#logo img {
    border-radius: 50px;
}
/*Hero Section*/
#Hero{
    position: relative;   
    color: white;    
    height: calc(100vh - 20vh);         
    margin-bottom: 60px;
    margin-top: 0px;
} 
#Hero h1{
    position: absolute;    
    height: 99px;    
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    left: 128px;
    top: 167px;
    z-index: 1;
    font-size: 3rem;
}
#Hero p{
    position: absolute;   
    height: 18px;    
    font-style: normal;    
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    left: 128px;
    top: 320px;
    z-index: 1;
}
.search{
    position: absolute;
    left: 128px;
    top: 400px;    
    height: 18px;
    z-index: 1;
    width: 40%; 
      
}
#Hero .form-control{
    background-color: transparent;
    color: #FFFFFF;
}
.color-overlay{
    width: 100%;
    height: 100%;
    opacity: .7;
    background: #000;
    position: absolute;
}
@media (max-width: 386px) {
    #Hero h1{
        font-size: 2.5rem;
    }
    .search{
        width: 70%;
    }
 }

/*Services section*/
#Services a{
    color: rgb(94, 94, 95);
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; }
 }
.carousel-multi-item-2 .card img {
    border-radius: 2px;
 }

/*Cities Section*/
#Cities p{
    font-size: 20px;
}
#Cities img{
    border-radius: 8px;
}
/*Download app section*/
#DownloadApp h1, #Cities h1,#Services h1{
    font-size: 3rem;
}
#DownloadApp p{
    padding-top: 60px;
    margin-bottom: 120px;
    font-size: 24px;    
}
@media (max-width: 767px) {
    .app-img{
        order: 1;
    }
    .app-text{
        order: 2;
    } 
 }
    
/*Footer*/

.footer-copyright{
    background-color:#101357;
    color: #FFFFFF;
    font-family: 'circular-std', sans-serif;
}
.footer-info{
    color: #FFFFFF;
    background-color: #52A1FF;
    padding-top: 30px;
    font-family: 'circular-std', sans-serif;
    font-size: 18px;
    line-height: 18px;
}
.footer-info a{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    
}
/*****************************************************************************/
/*CONTACT US PAGE*/
#Contact-Us{
    margin: 60px 0px 0px 0px;
    padding: 0px 0px;
    font-family: 'circular-std', sans-serif;
}
#Contact-Us img{
    height: 300px;
    width: 100%;    
}
.contact-form{
    margin: 0px;
}

/**************************************************************************************/
/*ABOUT US PAGE*/
#andela, #developer-circles{
    border-radius: 50%;
    height: 200px;
    margin-bottom: 100px;
    padding-left: 30px;    
}
#AboutUs{
    margin-top:60px;
    font-family: 'circular-std', sans-serif;
    align-items: center;
    justify-items: center
    
}
.about-us p{
    font-size: 22px;
}
.partners{
    background:#0c084c;
    color: #FFFFFF;
}


/******************************************************************************/
/*SIGN IN PAGE*/

.login-img, .signup-img{
    display:flex;
    align-items:center;
    justify-content:center;    
}/****************************************************************************/
/*FEEDBACK PAGE*/
#Feedback {
 min-height: 100vh;
} 

.container{
    margin-top: 80px;
    height: 700px;
    min-height: 500px;
    width: 50%;
    background: linear-gradient(90deg,#0162c8,#55e7fc );
    box-shadow: 0 0 100px 50px #5bea;
    border: 2px solid #bea;
    border-radius: 10px;
    transition: 5s ease-in-out;
}
.form{
    margin: 30px;
    box-sizing: border-box;
}
.user input, .username input{
    width: 400px;
    height: 30px;
    margin-top: 5%;
    border: none;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 20px;
    outline: none;
}

.user input::placeholder{
    color: #222;
}
.username input::placeholder{
    color: #222;
}
textarea{
    width: 400px;
    height: 200px;
    background: linear-gradient(180deg, #5bea,#55e7fc )  ;
    box-shadow: 0 0 20px 4px #202020;
    resize: none;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    outline: none;
}
textarea::placeholder{
    color: #222;
}
.sub{
    margin-top: 30%;
    position: relative;
    
}
.sub input{
     font-size: 20px;
     width: 400px;
     height: 50px;
     border-radius: 50px;
     background: linear-gradient(90deg, #5bea,#55e7fc );
     border: 3px solid #fff;
     color: #f2f2f2;
     outline: none;
}
.sub input[type='submit']:active{
border-color:#5bea;
}
.rating{
    position:  absolute;
    margin-left: 50px;
    display: flex;
    flex-direction: row-reverse; 
}
.rating input{
    display: none;
}
.rating label img{
    width: 50px;
}
.rating label{
    position: relative;
    width: 0px;
    height: 120px;
    cursor: pointer;
    transition: 0.5s ;
    filter: grayscale(1);
    text-align: center;
    opacity: 0;
}
.rating:hover label{
    width: 100px;
    opacity: 0.2;
}
.rating input:hover + label,
.rating input:checked + label{
    opacity: 1;
    width: 100px;
    filter: grayscale(0);
}
.rating label h4{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-50px) scale(0);
    padding-top: 0px;
    transition: 0.5s ease-in-out; 
}
.rating input:hover + label h4,
.rating input:checked + label h4 {
    transform: translate(0) scale(1);
    opacity: 1;
}